<h1 ng-if="vm.editing">Editing  {{vm.user.name}}</h1>
<h1 ng-if="!vm.editing">Creating new user</h1>

<form ng-submit="vm.save()">
  <div class="row">
    <div class="form-group col-sm-6">
      <label>First Name</label>
      <input class="form-control" type="text" ng-model="vm.user.firstName">
    </div>
    <div class="form-group col-sm-6">
      <label>Last Name</label>
      <input class="form-control" type="text" ng-model="vm.user.lastName">
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" ng-disabled="vm.editing" type="text" ng-model="vm.user.email">
  </div>
  <div class="form-group">
    <label>Role</label>
    <select class="form-control" ng-model="vm.user.role" material-select>
      <option ng-repeat="role in vm.roles">{{role}}</option>
    </select>
  </div>

  <button class="btn btn-primary" type="submit">Save <i class="fa fa-floppy-o"></i></button>
  <a ui-sref="Users.list" class="btn btn-primary">Back <i class="fa fa-arrow-left"></i></a>
  <button ng-if="vm.editing" class="btn btn-danger pull-right" type="button" ng-click="vm.remove()">
    Remove <i class="fa fa-trash"></i>
  </button>
</form>

<hr>

<div input-field>
  <input
  typeahead-on-select="vm.onGroupSelect($item)"
  type="text"
  ng-model="vm.group"
  uib-typeahead="group.name for group in vm.groups | filter:$viewValue | limitTo:8"
  class="form-control">
  <label>Add groups</label>
</div>

<ul class="collection">
  <li class="collection-item dismissable" ng-repeat="group in vm.user.groups">
    <button class="btn btn-danger btn-sm" type="button" ng-click="vm.removeGroup(group)">
      <i class="fa fa-trash-o"></i>
      {{group.name}}
    </button>
  </li>
</ul>

<button ng-disabled="!vm.editing" class="btn btn-default modal-trigger" ng-click="vm.showGoals()">User goals</button>
