<h1 ng-if="vm.editing">Editing  {{vm.user.name}}</h1>
<h1 ng-if="!vm.editing">Creating new user</h1>

<form class="col s12">
  <div input-field>
    <input type="text" ng-model="vm.user.firstName">
    <label>First Name</label>
  </div>
  <div input-field>
    <input type="text" ng-model="vm.user.lastName">
    <label>Last Name</label>
  </div>
  <div input-field>
    <input ng-disabled="vm.editing" type="text" ng-model="vm.user.email">
    <label>Email</label>
  </div>
  <select ng-model="vm.user.role" material-select>
    <option ng-repeat="role in vm.roles">{{role}}</option>
  </select>
  <button type="button" class="btn waves-effect wave-light" ng-click="vm.save()">Save
    <i class="material-icons right">save</i>
  </button>
  <button type="button" class="btn waves-effect wave-light" ng-click="vm.cancel()">Back
    <i class="material-icons right">cancel</i>
  </button>
  <button ng-if="vm.editing" type="button" class="btn waves-effect wave-light right" ng-click="vm.remove()">Remove
    <i class="material-icons right">remove_circle_outline</i>
  </button>
</form>
<div input-field>
  <input
  typeahead-on-select="vm.onGroupSelect($item)"
  type="text"
  ng-model="vm.group"
  uib-typeahead="group.name for group in vm.groups | filter:$viewValue | limitTo:8"
  class="form-control">
  <label>Add groups</label>
</div>

<ul class="collection">
  <li class="collection-item dismissable" ng-repeat="group in vm.user.groups">
    <button class="btn waves-effect wave-light btn-flat" type="button" ng-click="vm.removeGroup(group)">
      <i class="material-icons left">remove_group</i>
    </button>{{group.name}}
  </li>
</ul>
