<!DOCTYPE html>
<html>
  <head>
    <title>Customer Relations Manager</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- <link type="text/css" rel="stylesheet" href="view/bower_components/bootstrap/dist/css/bootstrap.min.css"  media="screen,projection"/> -->
    <link type="text/css" rel="stylesheet" href="view/bower_components/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="view/bower_components/angular-materialize/css/style.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="view/content/css/style.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="view/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="view/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="view/bower_components/materialize/dist/js/materialize.min.js"></script>

    <!-- Angular things -->
    <script src="view/bower_components/angular/angular.min.js"></script>
    <script src="view/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="view/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="view/bower_components/angular-materialize/src/angular-materialize.js"></script>
    <script src="view/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="view/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>


    <script src="view/app/app.js"></script>

    <!-- Services -->
    <script src="view/app/services/dataservice.service.js"></script>
    <script src="view/app/services/authorization.service.js"></script>

    <!-- Directives -->

    <!-- Controllers -->
    <script src="view/app/app.controller.js"></script>
    <script src="view/app/users/users.controller.js"></script>
    <script src="view/app/users/user.controller.js"></script>
    <script src="view/app/login/login.controller.js"></script>
    <script src="view/app/user-groups/user-groups.controller.js"></script>
    <script src="view/app/companies/companies.controller.js"></script>
    <script src="view/app/companies/company.controller.js"></script>
    <script src="view/app/opportunities/opportunities.controller.js"></script>

  </head>

  <body ng-app="CRM" ng-controller="App as vm">

    <ul id="slide-out" class="side-nav fixed">
      <li class="logo"><a ui-sref="Home" id="logo-container" class="brand-logo"><h4>CRM</h4></a></li>
      <li><a ui-sref="Opportunities">Opportunities</a></li>
      <li><a ui-sref="Companies">Companies</a></li>
      <li><a ui-sref="Users">Users</a></li>
      <li><a ui-sref="UserGroups">Groups</a></li>
      <li ng-if="!vm.user"><a ui-sref="Login">Log in</a></li>
      <hr ng-if="!!vm.user">
      <li ng-if="!!vm.user">{{vm.user.name}}</li>
      <ul ng-if="!!vm.user">
        <li><a href ng-click="vm.logout()">LogOut</a></li>
      </ul>
    </ul>
    <div class="container">
      <div ui-view></div>
    </div>
  </body>
</html>
