<table class="table">
  <tr>
      <th ng-repeat="header in $ctrl.headers">
          <span class="clickable" ng-click="$ctrl.sortBy(header.selector)" ng-show="header.label">
              {{header.label}}
                  <i ng-show="$ctrl.selector !== header.selector" class="fa fa-sort"></i>
                  <i ng-show="$ctrl.selector === header.selector && $ctrl.asc" class="fa fa-sort-asc"></i>
                  <i ng-show="$ctrl.selector === header.selector && !$ctrl.asc" class="fa fa-sort-desc"></i>
          </span>
      </th>
  </tr>
  <tr ng-repeat="data in $ctrl.data">
      <td ng-repeat="header in $ctrl.headers" ng-switch="header.type">
          <span ng-switch-default>{{data | get : header.selector}}</span>
          <a ui-sref="{{header.link}}({id: data.id})" class="btn btn-primary"  ng-switch-when="btn-link">
              <i ng-class="header.icon"></i>
          </a>
      </td>
  </tr>
</table>
