<form ng-submit="vm.filterFunc()" class="form-inline">
    <div class="form-group">
        <label>From</label>
        <div class="input-group">
            <input type="text" class="form-control" is-open="fromDate.open" datepicker-options="{startingDay: 1}" uib-datepicker-popup ng-model="vm.filter.fromDate" required />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="fromDate.open = !fromDate.open"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label>To</label>
        <div class="input-group">
            <input type="text" class="form-control" is-open="toDate.open" datepicker-options="{startingDay: 1}" uib-datepicker-popup ng-model="vm.filter.toDate" required />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="toDate.open = !toDate.open"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Filter</button>
</form>
<br/>
<uib-tabset active="vm.activeTab">
    <uib-tab ng-repeat="tab in vm.tabs" heading="{{tab.heading}}" select="vm.tabChange(tab)" active="tab.active">
        <br/>
        <div ui-view="{{tab.view}}"></div>
    </uib-tab>
</uib-tabset>
