<h1>IT-Minds CRM</h1>
<br>
<br>

<form ng-submit="vm.getProductionGraph()" class="form-inline">
    <div class="form-group">
        <label>From</label>
        <div class="input-group">
            <input type="text" class="form-control" is-open="fromDate.open" datepicker-options="{startingDay: 1}" uib-datepicker-popup ng-model="vm.filter.fromDate" required />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="fromDate.open = !fromDate.open"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label>To</label>
        <div class="input-group">
            <input type="text" class="form-control" is-open="toDate.open" datepicker-options="{startingDay: 1}" uib-datepicker-popup ng-model="vm.filter.toDate" required />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="toDate.open = !toDate.open"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Filter</button>
</form>
<br/>
<uib-accordion>
    <uib-accordion-group>
        <uib-accordion-heading>
            Advanced filter <small ng-if="vm.savedFilter.id">- {{vm.savedFilter.name}}<span ng-show="vm.advancedFilterChanged">*</span></small> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        <div class="row">
            <div class="col-sm-12">
                <label>Saved filters</label>
            </div>
            <div class="col-sm-11">
                <select ng-change="vm.getFilter()" ng-model="vm.savedFilter" ng-options="filter.name for filter in vm.savedFilters track by filter.id" class="form-control"></select>
            </div>
            <div class="col-sm-1">
                <button ng-click="vm.resetFilter()" class="btn btn-primary">Reset</button>
            </div>
        </div>
        <hr/>
        <form name="advancedFilter">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input ng-model="vm.advancedFilter.weighted" type="checkbox"/>
                        Weighted
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Departments</label>
                <select multiple ng-model="vm.advancedFilter.departments" ng-options="department.name for department in vm.filterOptions.departments track by department.id" class="form-control"></select>
            </div><br/>
            <div class="form-group">
                <label for="">Stages</label>
                <select multiple ng-model="vm.advancedFilter.stages" ng-options="stage.name for stage in vm.filterOptions.stages track by stage.id" class="form-control"></select>
            </div><br/>
            <div class="form-group">
                <label>User Groups</label>
                <select multiple ng-model="vm.advancedFilter.userGroups" ng-options="userGroup.name for userGroup in vm.filterOptions.userGroups track by userGroup.id" class="form-control"></select>
            </div><br/>
            <div class="form-group">
                <label>Users</label>
                <select multiple ng-model="vm.advancedFilter.users" ng-options="user.name for user in vm.filterOptions.users track by user.email" class="form-control"></select>
            </div><br/>
            <div class="form-group">
                <label>Categories</label>
                <select multiple ng-model="vm.advancedFilter.categories" ng-options="category.name for category in vm.filterOptions.categories track by category.id" class="form-control"></select>
            </div>
            <button class="btn btn-success" ng-click="vm.save()" ng-disabled="!vm.savedFilter.id || !vm.advancedFilterChanged">Save</button>
            <button class="btn btn-primary" ng-click="vm.save('new')">Save As..</button>
        </form>
    </uib-accordion-group>
</uib-accordion>

<div id="chart_div"></div>
<div id="table_div"></div>
