<h1>Departments</h1>

<form name="add" ng-submit="vm.create()" class="form-inline">
  <uib-alert ng-if="vm.department.errMsg" close="vm.department.errMsg = undefined;">{{vm.department.errMsg}}</uib-alert>
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" required type="text" ng-model="vm.department.name">
  </div>
  <button ng-disabled="!add.$valid" class="btn btn-primary" type="submit">Add <i class="fa fa-plus"></i></button>
</form>
<hr>

<div class="row">
  <uib-accordion close-others="true">
    <uib-accordion-group ng-repeat="department in vm.departments">
      <uib-accordion-heading>
        {{department.name}}
        <i ng-if="!department.saved && department.saved !== undefined" class="fa fa-pencil pull-right"></i>
      </uib-accordion-heading>
      <uib-alert ng-if="department.errMsg" close="department.errMsg = undefined;">{{vm.department.errMsg}}</uib-alert>
      <form name="edit" class="form-inline" ng-submit="vm.save(department)">
        <div class="form-group">
          <label>Name</label>
          <input ng-change="department.saved = false" class="form-control" data-error="{{department.errMsg}}" required type="text" ng-model="department.name">
        </div>
        <button ng-disabled="!edit.$valid || (department.saved || department.saved == undefined)" type="submit" class="btn btn-primary">Save
          <i ng-if="!department.saved && department.saved !== undefined" class="fa fa-floppy-o"></i>
          <i ng-if="department.saved || department.saved == undefined" class="fa fa-check"></i>
        </button>
        <button type="button" class="btn btn-danger pull-right" ng-click="vm.remove(department.id)">Remove
          <i class="fa fa-trash"></i>
        </button>
      </form>
    </uib-accordion-group>
  </uib-accordion>
</div>
