<div class="modal-header">
    {{vm.config.header}}
</div>
<div class="modal-body">
    <p ng-repeat="msg in vm.config.text">{{msg}}</p>
    <ul ng-if="vm.config.type == 'list'">
        <li ng-repeat="msg in vm.config.list">
            <button class="btn btn-link" ng-click="vm.do(msg.action)">{{msg.text}}</button>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="vm.ok()">{{vm.config.okText}}</button>
    <button class="btn btn-danger" ng-click="vm.cancel()">{{vm.config.cancelText}}</button>
</div>
