<h1>User groups</h1>

<form ng-submit="vm.create()" class="form-inline">
  <uib-alert ng-if="vm.group.errMsg" close="vm.group.errMsg = undefined;">{{vm.group.errMsg}}</uib-alert>
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" data-error="{{vm.group.errMsg}}" required type="text" ng-model="vm.group.name">
  </div>
  <button class="btn btn-primary" type="submit">Add <i class="fa fa-plus"></i></button>
</form>

<!-- todo: Redo -->

<div class="row">
  <uib-accordion close-others="true">
    <uib-accordion-group ng-repeat="group in vm.groups">
      <uib-accordion-heading>
        {{group.name}}
        <i ng-if="!group.saved && group.saved !== undefined" class="fa fa-pencil pull-right"></i>
      </uib-accordion-heading>
      <form name="edit" class="form-inline" ng-submit="vm.save(group)">
        <div class="form-group">
          <label>Name</label>
          <input ng-change="group.saved = false" class="form-control" type="text" ng-model="group.name" required>
        </div>
        <button ng-disabled="!edit.$valid || (group.saved || group.saved == undefined)" type="submit" class="btn btn-primary">Save
          <i ng-if="!group.saved && group.saved !== undefined" class="fa fa-floppy-o"></i>
          <i ng-if="group.saved || group.saved == undefined" class="fa fa-check"></i>
        </button>
        <button type="button" class="btn btn-danger pull-right" ng-click="vm.remove(group.id)">Remove
          <i class="fa fa-trash"></i>
        </button>
      </form>
    </uib-accordion-group>
  </uib-accordion>
</div>

    <!-- <li ng-repeat="group in vm.groups">
        <div class="collapsible-header">
          <i class="material-icons">group</i>{{group.name}}
          <i ng-if="!group.saved && group.saved !== undefined" class="material-icons right">edit</i></div>
        <div class="collapsible-body">
            <form name="edit">
              <p class="red-text text-darken-2" ng-if="group.errMsg">
                {{group.errMsg}}
              </p>
              <div input-field>
                <input ng-change="group.saved = false" ng-minlength="1" required type="text" ng-model="group.name">
                <label>Name</label>
              </div>
              <button ng-disabled="!edit.$valid || (group.saved || group.saved == undefined)" type="button" class="btn waves-effect wave-light" ng-click="vm.save(group)">Save
                <i ng-if="!group.saved && group.saved !== undefined" class="material-icons right">save</i>
                <i ng-if="group.saved || group.saved == undefined" class="material-icons right">done</i>
              </button>
              <button type="submit" class="btn waves-effect wave-light red lighten-2 right" ng-click="vm.remove(group.id)">Remove
                <i class="material-icons right">remove_circle_outline</i>
              </button>
            </form>
            <p>
            </p>
        </div>
    </li> -->
