<h1>User groups</h1>

<form ng-submit="vm.create()" class="form-inline">
  <uib-alert ng-if="vm.group.errMsg" close="vm.group.errMsg = undefined;">{{vm.group.errMsg}}</uib-alert>
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" data-error="{{vm.group.errMsg}}" required type="text" ng-model="vm.group.name">
  </div>
  <button class="btn btn-primary" type="submit">Add <i class="fa fa-plus"></i></button>
</form>
<br/>
<div class="row">
  <uib-accordion close-others="true">
    <uib-accordion-group ng-repeat="group in vm.groups">
      <uib-accordion-heading>
        {{group.name}}
        <i ng-if="!group.saved && group.saved !== undefined" class="fa fa-pencil pull-right"></i>
      </uib-accordion-heading>
      <form name="edit" class="form-inline" ng-submit="vm.save(group)">
        <div class="form-group">
          <label>Name</label>
          <input ng-change="group.saved = false" class="form-control" type="text" ng-model="group.name" required>
        </div>
        <button ng-disabled="!edit.$valid || (group.saved || group.saved == undefined)" type="submit" class="btn btn-primary">Save
          <i ng-if="!group.saved && group.saved !== undefined" class="fa fa-floppy-o"></i>
          <i ng-if="group.saved || group.saved == undefined" class="fa fa-check"></i>
        </button>
        <button type="button" class="btn btn-danger pull-right" ng-click="vm.remove(group.id)">Remove
          <i class="fa fa-trash"></i>
        </button>
      </form>
    </uib-accordion-group>
  </uib-accordion>
</div>
