<h1>User groups</h1>

<form name="create">
  <p class="red-text text-darken-2" ng-if="vm.group.errMsg">
    {{vm.group.errMsg}}
  </p>
  <div input-field>
    <input data-error="{{vm.group.errMsg}}" required type="text" ng-model="vm.group.name">
    <label>Name</label>
  </div>
  <button ng-disabled="!create.$valid" type="button" class="btn waves-effect wave-light" ng-click="vm.create()">Create
    <i class="material-icons right">add</i>
  </button>
</form>

<ul class="collapsible popout" data-collapsible="accordion" watch>
    <li ng-repeat="group in vm.groups">
        <div class="collapsible-header">
          <i class="material-icons">group</i>{{group.name}}
          <i ng-if="!group.saved && group.saved !== undefined" class="material-icons right">edit</i></div>
        <div class="collapsible-body">
            <form name="edit">
              <p class="red-text text-darken-2" ng-if="group.errMsg">
                {{group.errMsg}}
              </p>
              <div input-field>
                <input ng-change="group.saved = false" ng-minlength="1" required type="text" ng-model="group.name">
                <label>Name</label>
              </div>
              <button ng-disabled="!edit.$valid || (group.saved || group.saved == undefined)" type="button" class="btn waves-effect wave-light" ng-click="vm.save(group)">Save
                <i ng-if="!group.saved && group.saved !== undefined" class="material-icons right">save</i>
                <i ng-if="group.saved || group.saved == undefined" class="material-icons right">done</i>
              </button>
              <button type="submit" class="btn waves-effect wave-light right" ng-click="vm.remove(group.id)">Remove
                <i class="material-icons right">remove_circle_outline</i>
              </button>
            </form>
            <p>
            </p>
        </div>
    </li>
</ul>
