<h1 ng-if="vm.editing">Opportinity {{vm.opportunity.name}}</h1>
<h1 ng-if="!vm.editing">New Opportunity</h1>

<form ng-submit="vm.save()">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" type="text" required ng-model="vm.opportunity.name">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" ng-model="vm.opportunity.description"></textarea>
  </div>
  <div class="form-group">
    <label>Hourly price</label>
    <input class="form-control" type="number" step="any" required min="0" ng-model="vm.opportunity.hourlyPrice">
  </div>
  <div class="form-group">
    <label>Amount</label>
    <input class="form-control" type="number" step="any" required min="0" ng-model="vm.opportunity.amount">
  </div>
  <div class="row">
    <div class="form-group col-sm-6">
      <label>Start date</label>
      <input class="form-control" type="date" required ng-model="vm.opportunity.startDate">
    </div>
    <div class="form-group col-sm-6">
      <label>End date</label>
      <input class="form-control" type="date" required ng-model="vm.opportunity.endDate">
    </div>
  </div>
  <div>
    <label>Expected close date</label>
    <input class="form-control" type="date" required ng-model="vm.opportunity.expectedClose">
  </div>
  <!-- todo: as readonly chips -->
  <ul>
    <li ng-repeat="group in vm.opportunity.groups">{{group.name}}</li>
  </ul>

  <button class="btn btn-primary" type="submit">Save <i class="fa fa-floppy-o"></i></button>
  <a ui-sref="Opportunities" class="btn btn-primary">Back <i class="fa fa-arrow-left"></i></a>
  <button ng-if="vm.editing" class="btn btn-danger pull-right" type="button" ng-click="vm.remove()">
    Remove <i class="fa fa-trash"></i>
  </button>
</form>
